@charset "UTF-8";
/* ici se trouve la customisation */
/* font-family font-family: 'Oswald', sans-serif; */

body,
html {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

}

.img-fluid {
    display: block;
    width: auto;
}


.bg-maincolor {
    background-color: #280000 !important;
}

/* header */

.header {
    background-color: #280000;
    height: 70px;
    line-height: 70px;
}

.title {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffff;
}

.menu {
    float: right;
}

.menu a {
    color: #ffff;
    text-decoration: none;
    margin-right: 50px;
}

/* end header */

/* banner */
.inner-banner {
    position: absolute;
    top: 50%;
    left: 0%;
}

.inner-banner h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 20px;
    text-transform: uppercase;

}

h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}

.logo {
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* end banner */

/* articles */

a:hover {
    color: #ac3931;
}

.card-title {
    font-weight: bold;
}

/* end articles*/

/* footer */
.footer {
    background-color: #280000;
    color: white;
}

.footer h2 {
    font-weight: bold;
}


/* end footer */
