@charset "UTF-8";
/* ici se trouve la customisation */
/* font-family font-family: 'Oswald', sans-serif; */

body,
html {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

/* header */

.header {
    background-color: #280000;
    height: 70px;
    line-height: 70px;
}

.title {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffff;
}

.menu {
    float: right;
}

.menu a {
    color: #ffff;
    text-decoration: none;
    margin-right: 50px;
}

/* end header */